/*GLOBAL CSS*/

body {
    width: 100%;
    margin: 0 auto;
    background: url("../images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
}

/* __________________FOOTER ________________ */

.page-footer {
    background-color: #d67b1d;
}

.page-footer>a {
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff !important;
    float: left;
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

.box1,
.box2 {
    float: left;
    overflow: hidden;
    background: none;
    color: #fff;
    font-size: 14px;
    font-style: italic;
}

/* Add padding and border to inner content
for better animation effect */

.box-inner1 {
    width: 200px;
    padding: 10px;
    border: none;
}

.box-inner2 {
    width: 500px;
    padding: 10px;
    border: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-style: italic;
    font-size: small;
}

a:hover {
    color: orange;
}

td {
    color: #285a65;
}

td>a {
    color: orange;
}

/* __________________NAVIGATION ________________ */

.nav-logo>a {
    float: left;
    font-size: 24px;
    color: #2f6b77;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-icons {
    float: right;
    text-align: right;
}

a.navbar-icon>.far {
    font-size: x-large;
}

a.navbar-icon>.fas {
    font-size: x-large;
}

a.navbar-icon {
    width: 60px;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-style: italic;
    font-size: small;
    display: inline-block;
    text-align: center;
}

.navbar-icon p {
    width: 50px;
    float: right;
    color: #298692;
    font-style: normal;
    margin-bottom: 0px;
}

.navbar {
    padding: 15px 0;
    background-color: grey;
}

th {
    text-align: center;
}

hr {
    border-top: 1px solid rgb(138, 140, 140);
}

/* __________________INDEX PAGE ________________ */

#login-page h1 {
    font-size: 48px;
    color: orange;
}

#login-page p {
    color: #fff;
    margin-top: .5em;
    margin-bottom: .5em;
}

#login-page {
    float: none;
    background-color: rgba(1, 30, 37, 0.705);
    margin-top: 200px;
    padding: 40px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
}

#login-page button {
    border-radius: 3px;
    border: none;
    background-color: #298692;
    color: #fff;
    padding: 10px 20px;
}

/* __________________SEARCH PAGE________________ */

.dateTime-italic {
    font-style: italic;
}

a>.fas,
a>.far {
    text-decoration: none;
    color: #298692;
    font-size: xx-large;
    margin-left: 10px;
    display: inline;
}

.fas:focus {
    color: orange;
}

.fas {
    color: #298692;
    width: 20px;
    font-size: xx-large;
    display: inline;
}

.fas:hover {
    color: orange;
}

.fas:visited {
    color: #298692;
}

.far:visited {
    color: #298692;
}

.far:hover {
    color: orange;
}

.add-fave-btn {
    width: 50%;
    display: inline;
    cursor: pointer;
}

.search,
.favorites,
.artist-page {
    margin-top: 75px;
}

#search-results {
    margin: 0 auto;
}

.search-button,
.hr {
    margin: 0 auto;
}

.search-button button {
    float: right;
    background-color: #e6b500;
    border: none;
    color: #285a65;
    margin-top: 100px;
    padding: 10px;
}

.search-button button:hover {
    background-color: grey;
}

.searchresult {
    margin: 0 auto;
    text-align: center;
    color: rgba(255, 255, 255, 0.62);
}

@media only screen and (max-width:600px) {
    .searchresult {
        height: 330px;
        border: 1px white solid;
        padding-top: 5px;
        overflow-y: auto;
    }
}

.oneResult {
    background-color: rgba(255, 255, 255, 0.75);
    margin-top: 20px;
    color: #285a65;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

.oneResult:target {
    color: grey;
}

.oneResult:hover {
    background-color: #fff;
}

div.oneResult:focus {
    background-color: #fff;
}

img.artist-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

main {
    margin-top: 120px;
    float: right;
}

main {
    margin-top: 100px;
    float: right;
}

@media only screen and (max-width:600px) {
    main {
        position: relative;
        margin-top: 700px;
        border: 1px red solid;
        width: 100vw;
        float: none;
    }
}

/* __________________SIDEBAR (SEARCH RESULTS) ________________ */

.info-container {
    float: right;
}

@media only screen and (max-width:600px) {
    .info-container {
        float: none;
    }
}

.sidebar {
    margin-top: 50px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: #9c9c9c7d;
}

@media only screen and (max-width:600px) {
    .sidebar {
        position: absolute;
    }
}

.sidebar-sticky {
    position: sticky;
    top: 48px;
    height: calc(100vh - 48px);
    padding-top: 50px;
    overflow-x: hidden;
    overflow-y: auto;
}

@media only screen and (max-width:600px) {
    .sidebar-sticky {
        position: absolute;
        /* border: 1px red solid; */
        width: 100%;
        padding-bottom: 0;
    }
}

.form-inline {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}

@media only screen and (max-width:600px) {
    .form-inline {
        /* border: 1px red solid; */
        height: 180px;
        margin-top: -20px;
    }
}

.form-inline p {
    text-align: center;
    color: rgba(255, 255, 255, 0.603);
    font-style: italic;
    font-weight: 300;
}

@media only screen and (max-width:600px) {
    .form-inline p {
        text-align: center;
        color: rgba(255, 255, 255, 0.603);
        font-style: italic;
        font-weight: 300;
        font-size: 13px;
    }
}

.form-inline>div {
    margin-bottom: 20px;
}

.form-inline .form-control {
    width: 100%;
}

@media only screen and (max-width:600px) {
    .form-inline .form-control {
        width: 80%;
        height: 30px;
        margin: 0 auto;
    }
}

.btn-outline-success {
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #fff;
}

@media only screen and (max-width:600px) {
    .btn-outline-success {
        width: 80px;
        font-size: 13px;
        display: block;
        margin: 0 auto;
    }
}

placeholder {
    font-style: italic;
}

.user-name {
    text-align: center;
    z-index: 2;
    margin: 0 auto;
    margin-top: 100px;
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.map-right {
    float: right;
}

#map {
    /* border:1px red solid; */
    width: 100%;
    height: 300px;
    margin: 50px 0;
}

.description {
    color: #fff;
}


.artist-desc {
    float: right;
}

/* __________________SEARCH RESULTS ________________ */

.floatLeft {
    width: 50%;
    text-align: left;
    padding: 20px;
    float: left;
    display: inline-block;
}

.floatLeft p {
    margin-bottom: 0;
}

.floatRight {
    float: right;
    text-align: right;
    padding: 20px;
    width: 50%;
    display: inline;
}

.table.search {
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

#table-data {
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
}

.table th {
    border-top: none;
}

.table thead th {
    font-weight: 300;
}

.artist-name {
    color: #fff;
}

.mobile-buttons {
    display: none;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #285a65;
    border-color: #285a65;
}

.btn-outline-success:focus {
    box-shadow: none;
}

.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active,
.show>.btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #285a65;
    border-color: #285a65;
}

/* __________________FAVORITES PAGE________________ */

#table-data {
    width: 100%;
    text-align: left;
    padding: 10px;
    font-size: 14px;
    float: left;
    display: inline-block;
}

#data-favorites>div {
    width: 100%;
    display: inline-block3
}

#data-favorites>h3 {
    font-weight: bold;
}

#table-data>div {
    width: 100%;
    display: inline-block;
    float: left;
}

#data-favorites div {
    font-style: italic;
}

.time {
    margin-bottom: 10px;
}

#data-favorites a i {
    float: right;
    text-align: right;
    display: inline;
    margin-top: -30px;
    margin-right: 15px;
}

#data-favorites i {
    float: right;
    text-align: right;
    display: inline;
    font-size: xx-large;
}

#ticket-fav {
    color: orange;
}

/* DYNAMICALLY CREATED CLASS FROM BANDS IN TOWN API */

.convertDateTime {
    font-style: italic;
}

@media only screen and (max-width: 768px) {
    /* hides all specific concert data */
    /* main {
        display: none;
    } */
    .mobile-buttons {
        display: inline-block;
    }
    .floatLeft {
        width: 50%;
        text-align: left;
        padding: 20px;
        float: left;
        display: inline-block;
    }
    .floatRight {
        float: right;
        text-align: right;
        padding: 20px;
        width: 50%;
        display: inline;
    }
}

@media only screen and (max-width: 700px) {
    #login-page {
        margin-top: 100px;
    }
    img.artist-image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .nav-logo>a {
        font-size: 18px;
    }
    a.navbar-icon>.fas {
        font-size: large;
        margin: 0 auto;
    }
    a.navbar-icon>.far {
        font-size: large;
        margin: 0 auto;
    }
    a.navbar-icon {
        width: 45px;
    }
    .navbar-icon p {
        font-size: 10px;
    }
    h3 {
        font-size: 24px;
    }
    .floatLeft,
    .floatRight {
        padding: 10px;
    }
    .floatLeft p {
        font-size: 14px;
    }
    .floatRight p {
        font-size: 14px;
    }
    .fas {
        font-size: x-large;
    }
    a>.fas {
        font-size: x-large;
    }
    #table-data {
        width: 100%;
        text-align: left;
        padding: 10px;
        font-size: 14px;
        float: left;
        display: inline-block;
    }
    #data-favorites>div {
        width: 100%;
        display: inline-block;
    }
    #data-favorites>h3 {
        font-weight: bold;
    }
    #table-data>div {
        width: 100%;
        display: inline-block;
        float: left;
    }
    #data-favorites div {
        font-style: italic;
    }
    .time {
        margin-bottom: 10px;
    }
    #data-favorites a i {
        float: right;
        text-align: right;
        display: inline;
        margin-top: -30px;
        margin-right: 15px;
    }
    #data-favorites i {
        float: right;
        text-align: right;
        display: inline;
        font-size: xx-large;
    }
    #ticket-fav {
        color: orange;
    }
    .user-name {
        text-align: center;
        z-index: 2;
        margin: 0 auto;
        margin: 90px 0 20px;
        color: #fff;
        font-size: 20px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    
}

@media only screen and(max-width:600px) {
    .description {
        border: 1px blue solid;
        width:100%;
        color:green !important;
    }

    #bio{
        border:1px blue solid;
        color:green !important;
    }
}
